<%= labelled_form_for(custom_button, url: url) do |f| %>
  <%= error_messages_for 'custom_button' %>

  <div class="box tabular splitcontent custom-button-form">

    <div class="splitcontentleft">
      <fieldset>
        <legend><%= l(:label_custom_button) %></legend>

        <% if @user.admin? %>
          <p><%= f.check_box :is_public %></p>
        <% end %>

        <p><%= f.text_field :name, required: true %></p>
        <p><%= f.text_field :title %></p>

        <p id="custom-button-icon" class="select2-field">
          <%= label_tag l(:field_icon) %>
          <%= f.select :icon, options_for_select(CustomButton::FA, f.object.icon), include_blank: true  %>
        </p>

      </fieldset>
      <fieldset>
        <legend><%= l(:label_custom_button_filter) %></legend>

        <p><%= f.check_box :hide_when_nothing_change %></p>

        <p id="custom-button-projects" class="select2-field">
          <%= label_tag l(:field_project) %>
          <%= hidden_field_tag 'custom_button[project_ids][]', '', id: nil %>
          <%= select_tag 'custom_button[project_ids]',
              options_for_select2_projects_tree(custom_button.filters[:project_id]),
              multiple: true %>
        </p>

        <p id="custom-button-trackers" class="select2-field">
          <%= f.select :tracker_ids, @trackers.map { |o| [o.name, o.id]},
              { label: :field_tracker }, multiple: true %>
        </p>

        <p id="custom-button-statuses" class="select2-field">
          <%= f.select :status_ids, @statuses.map { |o| [o.name, o.id]},
              { label: :field_status }, multiple: true %>
        </p>

        <p id="custom-button-categories" class="select2-field">
          <%= f.select :category_ids, @categories.map { |o| ["#{o.name} (#{o.project})", o.id]},
              { label: :field_category }, multiple: true %>
        </p>

        <p id="custom-button-authors" class="select2-field">
          <%= f.select :author_ids, @users.map { |o| [o.name, o.id]},
              { label: :field_author }, multiple: true %>
        </p>

        <p id="custom-button-assigned_tos" class="select2-field">
          <%= f.select :assigned_to_ids, @users.map { |o| [o.name, o.id]},
              { label: :field_assigned_to }, multiple: true %>
        </p>

        <p id="custom-button-assigned_to_roles" class="select2-field">
          <%= f.select :assigned_to_role_ids, @roles.map { |o| [o.name, o.id]},
              { label: :field_assigned_to_role }, multiple: true %>
        </p>

      </fieldset>
    </div>
    <div class="splitcontentright">
      <fieldset class="new-values">
        <legend><%= l(:label_custom_button_new_values) %></legend>

        <p><%= f.label_for_field :status %><%= select_tag 'custom_button[new_values][status_id]',
            options_for_select(@statuses.map { |s| [s.name, s.id] },
                custom_button.new_values['status_id']),
            include_blank: true %></p>

        <p><%= f.label_for_field :done_ratio %><%= select_tag 'custom_button[new_values][done_ratio]',
            options_for_select((0..10).to_a.collect { |r| ["#{r*10} %", r*10] },
                custom_button.new_values['done_ratio']),
            include_blank: true %></p>

        <p><%= f.label_for_field :category %><%= select_tag 'custom_button[new_values][category_id]',
            options_for_select(@categories.map { |c| ["#{c.name} (#{c.project})", c.id] },
                custom_button.new_values['category_id']),
            include_blank: true %></p>

        <p><%= f.label_for_field :assigned_to %><%= select_tag 'custom_button[new_values][assigned_to_id]',
            options_for_select(@users_with_author.map { |u| [u.name, u.id] },
                custom_button.new_values['assigned_to_id']),
            include_blank: true %></p>

        <p><%= f.label_for_field :notes %><%= text_area_tag 'custom_button[new_values][notes]',
            custom_button.new_values['notes'],
            cols: 60 %></p>

        <% custom_button.custom_field_values.each do |value| %>
          <p><%= custom_field_tag_with_label :custom_button, value %></p>
        <% end -%>

      </fieldset>
    </div>
  </div>
  <%= submit_tag l(:button_save) %>
  <%= link_to l(:button_cancel), custom_buttons_path %>
<% end %>

<%= javascript_include_tag 'custom_buttons_form', plugin: 'redmine_customize' %>
