<% customize = Customize.instance %>

<fieldset>
  <legend><%= l(:redmine_customize_settings) %></legend>

  <p>
    <%= label_tag l(:custom_notice_account_pending) %>
    <%= text_area_tag 'settings[notice_account_pending]', @settings['notice_account_pending'],
      cols: 30, rows: 5, class: 'wiki-edit' %>
  </p>

</fieldset>

<fieldset class="top-menu-items">
  <legend><%= l(:label_top_menu_items) %></legend>

  <div class="contextual">
    <a href="#" class="icon icon-add add-top-menu-item"><%= l :button_add %></a>
  </div>

  <table class="list">
    <thead>
    <tr>
      <th width="20%"><%= l(:label_top_menu_item_body) %></th>
      <th><%= l(:label_top_menu_item_url) %></th>
      <th><%= l(:label_top_menu_item_title) %></th>
      <th width="10%"></th>
    </tr>
    </thead>
    <tbody class="top-menu-items">
    <% customize.top_menu_items.each do |item| %>
      <%= render 'top_menu_item', top_menu_item: item unless item.blank? %>
    <% end %>
    </tbody>
  </table>

</fieldset>

<%= javascript_tag do %>
  jql("document").ready(function($) {
    var top_menu_item = "<%= escape_javascript(render('top_menu_item', top_menu_item: CustomMenuItem.new())).html_safe %>";
    $("fieldset").on("click", "a.add-top-menu-item", function(event) {
      $("tbody.top-menu-items").append(top_menu_item);
      event.stopPropagation()
    });
    $("fieldset").on("click", "a.delete-top-menu-item", function(event) {
      $(this).closest('tr').remove();
      event.stopPropagation()
    });
  });
<% end %>
